<%= form_for(@profile,:url => :profile) do |f| %>
  <p><%=flash[:notice] %></p>
用户：
  <p>
    <%=@profile.user.email %>
  </p>
自我描述：
  <p>
    <%= f.text_field :self_desc %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%=link_to '显示', profile_path %>
<%=link_to '返回', :controller => 'welcome' %>
